
html{
    height : 100%;
    width : 100%;
    
    font-size: 1.1em;
    font-family: 'Roboto Condensed', sans-serif;    
}

body{
    background-color : #1b1b1b;
}

/* Browse */
input.browse {
    display: none;
}
label.browse {
    /* Position */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Shape */
    width: 50%;
    padding: 16px 32px;
    display: inline-block;

    /* Make it pretty */
    border-radius: 10000px;
    background-color : #e3eef1;
    cursor: pointer;
    text-align: center;

    
}
label.browse:hover {
    background-color : #8cb9c4
}

/* File loading bar */
.lds-dual-ring {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #e3eef1 transparent #e3eef1 transparent;
    animation: lds-dual-ring 1.4s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg) scale(0.8);
    }

    50% {
        transform: rotate(180deg) scale(1);
    }

    100% {
      transform: rotate(360deg) scale(0.8);
    }
}